[submodule "editor/raylib"]
	path = editor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "editor/raygui"]
	path = editor/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "editor/rtmidi"]
	path = editor/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "ksio"]
	path = ksio
	url = git@github.com:krsn53/ksio.git
